.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal {
    position: fixed;
    top: 15vh;
    left: 5%;
    width: 90%;
    height: 40%;
    background-color: white;
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn {
    padding: 10px 25px;
    margin-left: 10px;
    border-radius: 7px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .modal {
        width: 40rem;
        left: calc(50% - 20rem);
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.form input {
    padding: 0.5rem 2rem;
    margin-top: 0.5rem;
}

.form button {
    width: 20%;
    margin-top: 0.5rem;
    /* margin-bottom: 2rem; */
}